/* ---Horloge--- */
#clock {
    position: absolute;
    width: 1vw;
    height: 1vh;
}

/*
.container {
    display: flex;
}

.rectangle {
    flex: 1;
}
*/

/* ---Rectangle Information---*/  
.rectangle-1 {
    position: absolute;
    background-color: #ddd;
    border: 4px solid white;
    width: 20vw;
    height: 97vh;
}
/* ---Texte affichage du mur---*/  
h1 {
    font-size: 14px;
}
/* ---Titre tableau--- */
h2 {
    font-size: 20px;
}

/* ---Bandeau vert---*/
p {
    margin: 10px 0;
    padding: 1px;
    font-size: large;
    border: 1px solid #3fa118;
    background-color: #3fa118;
    color: white;
}

/* ---TABLEAU--- */
table {
    position: absolute;
    bottom: 5%;
}

td {
    border: 1px solid #333;
    font-family: Arial light;
    font-size: 16px;
    height: 2vh;
    width: 10vw;
}

#td2 {
    border: 1px solid #333;
    font-family: Arial light;
    font-size: 1px;

}

thead,
tfoot {
    background-color: #3fa118;
    color: #fff;
}

/* ---Rectangle téléversement--- */
.rectangle-2 {
    position: absolute;
    top: -.5%;
    left: 102%;
    background-color: #ddd;
    border: 4px solid white;
    width: 70vw;
    height: 20vh;
}
/* ---Image du téléversement--- */
.image-input {
    position: relative;
    cursor:pointer;
    width: 10vw;
    height: 7vw;
  }  

/* ---Rectangle prévisualisation--- */
.rectangle-3 {
    position: absolute;
    top: 27.5vh;
    left: -0.2vw;
    background-color: #ddd;
    border: 4px solid white;
    width: 70vw;
    height: 69vh;
}